* {
    bg0: #1d2021;
    bg1: #282828;
    grey0: #3c3836;
    fg0: #d4cfc4;

    blue: #7d8f9d;
    red: #d2788c;
    orange: #9b8fb0;
    green: #6f8781;
    bgStatusline3: #7d8f9d;

    background-color: @bg0;
}

