configuration {
    display-ssh:    "";
    display-run:    "";
    display-drun:   "";
    display-window: "";
    display-combi:  "";
    show-icons:     true;
}

// @import "~/.config/themes/current/rofi.rasi"
@theme "~/.config/rofi/theme.rasi"
