@import "../themes/current/waybar.css";

/* @define-color foreground #ebdbb2; */
/* @define-color background #1d2021; */
@define-color warning #d79921;
@define-color critical #cc241d;
@define-color good #fb4934;

* {
  background-color: @background;
  color: @foreground;
  border: none;
  border-radius: 0;
  font-family: JetBrainsMono Nerd Font;
  font-size: 12px;
}

/* Modules alignment */
.modules-left {
  margin-left: 8px;
}
.modules-right {
  margin-right: 8px;
}

/* -------------------- Workspaces -------------------- */
#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0;
  min-width: 18px;
  color: @foreground;
  background-color: transparent;
  font-family: JetBrainsMono Nerd Font;
  font-size: 12px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-bottom: 2px solid rgba(235, 219, 170, 0);
}

/* Empty workspace */
#workspaces button.empty {
  opacity: 0.5;
}

#workspaces button.active {
  /* background: @foreground; */
  /* color: @critical; */
  /* border-top: 1px solid @border; */
  border-bottom: 2px solid @border;
  /* border-top: 2px solid rgba (235, 219, 178, 0.4); */
}
#workspaces button:first-child {
  /* border-left: 1px solid @border; */
}

/* -------------------- General Module Spacing -------------------- */
#tray,
#network,
#pulseaudio,
#custom-mic,
#cpu,
#memory,
#temperature,
#bluetooth,
#battery {
  /* border-left: 1px solid @border; */
  /* padding-left: 8px; */
  /* margin-left: 8px; */
  margin: 0 6px;
  padding: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  opacity: 0.9;
  /* border-bottom: 2px solid @border; */
}

/* Tooltip */
tooltip {
  padding: 2px;
}

/* -------------------- Separators -------------------- */
/* #custom-separator, */
/* #custom-separator-left { */
/*   border-left: 1px solid @border; */
/*   margin: 0 6px; */
/*   padding-top: 4px; */
/*   padding-bottom: 4px; */
/* } */

/* -------------------- State Colors -------------------- */
.warning {
  color: @warning;
}
.critical {
  color: @critical;
}
